<h3>Welcome, Here are some tweets</h3>
<%if @tweets.empty? %>
    <p>Sorry nothing here. Create some content to see. <br><a href = '/tweets/new'>Create A Tweet</a></p> 
<%end%>
<a href='/users/<%=current_user.slug%>'>Your Tweets</a>
<ol>
<% @tweets.each do |tweet| %>
    <li>
    <a href='/tweets/<%=tweet.id%>'><%=tweet.content %></a>
    </li><br>
<% end %>
</ol><br>

<a href='/tweets/new'>Create a Tweet</a>
<br><a href='/logout'>Logout</a>
