<h3>Log In</h3>
<form action='/login' method='POST'>
    <p>
    <label for='username'>Username:</label>
    <input type ='text' name='username'>
    </p>
    <p>
    <label for='password'>Password:</label>
    <input type ='password' name='password'>
    </p>
    <input type ='submit' id ='submit'>
    
</form>
<br>
<a href='/signup'>Sign Up</a>
    